<%= content_for :head do %>
    <%= javascript_include_tag 'signup_form_checker', defer: true, 'data-turbolinks-track': 'reload' %>
<% end %>

<section id='sign-form-section'>
    <h1>Sign Up</h1>

    <%= form_with url: join_path do |f| %>
        <label id="email-field-info", class="field-info-label"></label>
        <%= f.text_field :email, id: 'signup-email-field', class: 'form-element text-field', placeholder: 'e-mail' %>
        <label id="name-field-info", class="field-info-label"></label>
        <%= f.text_field :name, id: 'signup-name-field', class: 'form-element text-field', placeholder: 'Nickname' %>
        <label id="password-field-info", class="field-info-label"></label>
        <%= f.password_field :password, id: 'signup-password-field', class: 'form-element text-field', placeholder: 'Password' %>
        <%= f.submit "Continue", class: 'form-element', disable_with: '...' %>
    <% end %>
</section>