<% content_for :head do %>
    <%= javascript_include_tag 'post_edit', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'post_edit_navigation', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="post-edit-content">
    <div class="post-edit-container">
        <%= form_with model: [:admin, @post], class: 'post-edit-form' do |f| %>
            <%= f.text_field :title, class: "post-edit-field post-edit-field-title", placeholder: "Enter Title" %>
            <%= f.hidden_field :description, class: "post-edit-desc-hidden" %>
            <div class="post-edit-field post-edit-field-desc" contenteditable=true placeholder="Enter Description in markdown format"></div>
        <% end %>
    </div>

<!--
    <div class="post-edit-nav">
        <%= image_tag 'icons/picture.png', size: '40x40', align: 'center', onClick: "javascript:hidePreviewBar()", class: 'upload-image' %>
        <%= file_field_tag '', class: 'hidden-file-field', style: "display: none;" %>
    </div>
-->
</div>

<div class="image-preview-bar", disabled="true">
    <div class="image-preview-bar-header">
        <span class="preview-title">Images</span>

        <span class="image-preview-menu">
            <%= image_tag 'icons/picture.png', size: '30x30', class: 'upload-image' %>
            <!--TODO : 파일 업로드 전용 폼을 생성하고, 비동기로 파일을 업로드 할 수 있도록 작업-->
            <%= file_field_tag '', class: 'hidden-file-field', style: "display: none;" %>

            <%= image_tag 'icons/close.png', size: '18x18', onClick: "javascript:hidePreviewBar()", class: 'preview-close' %>
        </span>
    </div>

    <div class="image-preview-bar-container">

    </div>
</div>