<% content_for :head, javascript_include_tag('post_edit', defer: true, 'data-turbolinks-track': 'reload') %>
<% content_for :post_edit_menu do %>
    <%= link_to "Publish", "", id: "publish-post" %>
<% end %>

<section class="post-edit-section">
    <%= form_with model: @post, class: 'post-edit-form' do |f| %>
        <%= f.text_field :title, class: "f-b post-edit-field post-edit-field-title", placeholder: "Enter Title" %>
        <%= f.text_area :description, class: "post-edit-field post-edit-field-desc", placeholder: "Enter Description in markdown format" %>
        <%= f.file_field :image, class: "image-field", style: "display: none;" %>
    <% end %>
</section>