<div class="post-container">
    <h1 class="post-title">
        <%= @post.title %>
    </h1>

    <div class="post-info">
        <%= @post.created_at.in_time_zone("Asia/Seoul").strftime("%F") %><br>

        <%= image_tag 'icons/visitor.png', size: '15x15', align: 'center' %>
        <%= @post.visitor_count %>
    </div>

    <div class="post-content">
        <%= parse_md_to_html(@post.description) %>
    </div>
    
    <% if is_admin_page? %>
        <div class="post-edit-menu">
            <%= button_to "Edit", edit_admin_post_path, method: :get %>
            <%= button_to "Delete", { action: "destroy" }, method: :delete, data: { confirm: "Are You Sure?" } %>
        </div>
    <% end %>
</div>