<section id="user-profile-section">
    <div id="profile-info">
        <h1>
            <%= @user.name %>
            <%= link_to image_tag('icons/edit.png', size: '15x15', align: 'center'), "", method: :get, id: "user-setting-icon" %>
        </h1>
        <p>01234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789 <%= @user.bio %></p>
    </div>
</section>
<section id="user-posts-section">
    <h2>Posts</h2>
    <div id="user-post-container">
        <% @user.posts.each do |post| %>
            <div id="user-post">
                <%= link_to post_path(post) do %>
                    <h3><%= post.title %></h3>
                    <p><%=parse_md_strip_down(post.description)%></p>
                <% end %>
                <ul>
                    <li class="owner-name">
                        <%= post.owner %>
                    </li>
                    <li>
                        <%= post.created_at.in_time_zone("Asia/Seoul").strftime("%F") %>
                    </li>
                </ul>
            </div>
        <% end %>
    </div>
</section>