<div class="root_show_post">
    <h1>
        <%= @post.title %>
    </h1>

    <div>
        작성자 : <%= @post.user_name %><br>
        작성일 : <%= @post.created_at.in_time_zone("Asia/Seoul").strftime("%F - %T") %><br>
        수정일 : <%= @post.updated_at.in_time_zone("Asia/Seoul").strftime("%F - %T") %>
    </div>

    <div>
        <%= @post.description %>
    </div>

    <%= button_to "Edit", edit_post_path, method: :get, form: { style: "display: inline-block;" } %>
    <%= button_to "Delete", { action: "destroy" }, method: :delete, data: { confirm: "Are You Sure?" }, form: { style: "display: inline-block;" } %>

    <h2>Comments</h2>
    <% @post.comments.each do |comment| %>
        <div class="comment">
            <%= comment.description %>
            <%= button_to "edit", {action: "edit"}, method: :get, form: { style: "display: inline-block;" } %>
            <%= button_to "x", [@post, comment], method: :delete, data: { confirm: "Are You Sure?" }, form: { style: "display: inline-block;" } %>
        </div>
    <% end %>

    <%= form_with model: [@post, @post.comments.build], local: true do |f| %>
        <%= f.text_area :description %>
        <%= f.submit "submit comment" %>
    <% end %>
</div>