<section class="post-root">
    <h1 class="post-title f-b">
        <%= @post.title %>
    </h1>

    <div class="post-info">
        <span class="f-b"> by <%= @post.owner %></span>
        <span> on <%= @post.created_at.in_time_zone("Asia/Seoul").strftime("%b %e '%y") %></span>
        <div class="post-edit-menu">
            <%= link_to image_tag('icons/edit.png', size: '15x15', align: 'center'), edit_post_path, method: :get %>
            <%= link_to image_tag('icons/delete.png', size: '15x15', align: 'center'), { action: "destroy" }, method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
    </div>

    <div class="post-content">
        <%= parse_md_to_html(@post.description) %>
    </div>
    
    <div class="f-b">Tags </div>
    <div class="tag-container">
        <% @post.tags.each do |tag| %>
            <a href="#" class="post-tag"><%= tag.name %></a>
        <% end %>
    </div>
</section>