<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="layout-header-wrapper">
        <div class="layout-header">
          <% if is_admin_page? %>
            <a href="/admin" class="home-link">SSD's Blog [Admin]</a>
          <% else %>
            <a href="/" class="home-link">SSD's Blog</a>
          <% end %>
        </div>
      </div>

    <%= yield %>
  </body>
</html>
