<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>SSD Tech Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="author", content="seosd97">
    <meta name="description", content="개발 블로그">
    <meta name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta http-equiv="x-ua-compatible", content="IE=Edge">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Nanum+Gothic%7CConsolas', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body>
    <header class="layout-header">
      <div class="header-container">
        <a href="/" class="home-link">SSD's Blog</a>
        <ul>
          <% if session[:user_id].nil? %>
            <li>
              <%= link_to "Sign Up", join_path %>
            </li>
            <li>
              <%= link_to "Sign In", login_path %>
            </li>
          <% else %>
            <li>
              <%= link_to "New Post", new_post_path %>
            </li>
            <li>
              <label class="publish-button">Publish</label>
            </li>
            <li>
              <%= link_to "Sign Out", logout_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>

    <div class="message-block-area"></div>

    <%= yield %>
  </body>
</html>
