<!DOCTYPE html>
<html>
  <head>
    <title>SSD's Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Nanum+Gothic%7CConsolas', media: 'all' %>
  </head>

  <body>
    <header class="layout-header">
      <% if is_admin_page? %>
        <a href="/admin" class="home-link">SSD's Blog [Admin]</a>
        
        <% if has_login? %>
          <span class="admin-content-wrapper">
            <%= link_to "New Post", new_admin_post_path, class: "admin-content" %>
            <%= link_to "Logout", admin_logout_path, method: :delete, class: "admin-content logout-button" %>
          </span>
        <% end %>

      <% else %>
        <a href="/" class="home-link">SSD's Blog</a>
      <% end %>
    </header>

    <!-- TODO : 우측 상단에 알림 메세지 박스를 띄워 줘야 함. -->
    <span class="notification-block">
    </span>
    <!---->

    <div class="message-block-area"></div>

    <%= yield %>
  </body>
</html>
